{% load static %}
<footer class="footer bg-dark mt-2">
    <div class="container">
        <div class="row justify-content-between">
            <span class="col-4 text-light font-weight-bolder font-italic">
                <img src="{% static 'static/images/travel-logo-design-removebg-preview.png' %}" width="55" height="50" class="d-inline-block"
                    alt="" loading="lazy">
                VISIT EARTH - All rights reserved
            </span>
            <div class="col-4 py-2">
                <img src="{% static 'static/images/facebook-app-logo.svg' %}" class="rounded-circle" width="35" height="35" alt="">
                <img src="{% static 'static/images/twitter.svg' %}" class="rounded-circle" width="35" height="35" alt="">
                <img src="{% static 'static/images/linkedin.svg' %}" class="rounded-circle" width="35" height="35" alt="">
                <img src="{% static 'static/images/instagram.svg' %}" class="rounded-circle" width="35" height="35" alt="">
            </div>
        </div>
    </div>
</footer>