{% extends 'base/base.html' %}
{% load static %}
{%  block title %}
      Categories
{% endblock %}

{% block body %}
    <h3 class="text-primary ml-5 mt-3">Categories</h3>
    <div class="w-25 ml-5 p-3">
        {% for category in category_list %}
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center border-0 mt-2">
                <a href="{% url 'category_single' category.slug %}" class="text-decoration-none text-success">{{category.title}}</a>
                <span class="badge badge-warning badge-pill">{{category.post_count}}</span>
            </li>
        </ul>
        {% endfor %}
    </div>
{% endblock %}